/* ==========================================================================
   CSS
   ========================================================================== */



 /* ==========================================================================
    BASE STYLES

    Colors used: Dark Blue: #191d4e;
                 Lite blue: #1A7DC2;
    ========================================================================== */

body {
  background-size: 100vh;
  background-color: #191d4e;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #1A7DC2;
}


img {
  width: 100%;
  height: auto;
}

.eth-icon {
  width: 60%;
  height: auto;
}

li {
  padding: 0;
}

.eth-logo-lg {
  display: none;
}

h1 {
  font-weight: 500;
  letter-spacing: 10px;
  color: white;
}

hr {
  border-top: 2px solid #fff;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
}

.strong {
  color: #1A7DC2;
  font-weight: bolder;
}

/* ==========================================================================
   GRID STYLES-HOME
   ========================================================================== */

.grid {
  display: grid;
  grid-template-columns: 5% 2fr 5%;
  grid-template-areas:
  ". navigation ."
  ". header ."
  ". eth-logo-lg ."
  ". footer . ";
}

.navigation {
  grid-area: navigation;
  justify-self: center;
  /*text-align: center;*/
  color: #fff;
  padding-top: 5px;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 0;
}

.header {
  grid-area: header;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.divider {
  display: grid;
  grid-template-columns: 4fr .5fr 4fr;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.eth-logo-lg {
  grid-area: eth-logo-lg;
  justify-self: center;
  text-align: center;
}

.footer {
  grid-area: footer;
}

/* ==========================================================================
   MODAL FORM
   ========================================================================== */

.form {
  width: 355px;
  height: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 20px 40px;
  padding: 20px 30px;
  box-sizing: border-box;
  font-family:'Poppins',sans-serif;
  position: relative;
}

form a {
  color: #1A7DC2;
  font-size: .7em;
}

form h2 {
  margin: 0 auto;
  padding-bottom: 10px;
  color: #191d4e;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family:'Poppins',sans-serif;
  text-transform: capitalize;
  transition: all .3s;
  border-bottom: 0.5px solid #727272;
  font-size: 80%;
}

input:focus {
  border-bottom: 4px solid #727272;
  transition: all .3s;
}

form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #191d4e;
}

#send-btn {
  display: inline-block;
  padding: 10px;
  font-family:'Reem Kufi', sans-serif;
  font-size: 16px;
  background-color: #1A7DC2;
  color: #fff;
  cursor: pointer;
  transition: linear .3s;
  margin: 0 auto;
  border-bottom: none;
}

#send-btn:hover {
  background: #191d4e;
  color: #fff;
}

form div {
  color: #191d4e;
  padding: 16px 4px;
  text-align: center;
}

form a:hover {
  color: #1A7DC2;
}

form span {
  margin: 10px auto;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    height: auto;
    left: 20%;
    top: 30%;
    margin-left: -150px;
    margin-top: -150px;
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 40px;
}

.info {
  position: relative;
}

/* The Close Button */
.close {
    color: #4a4a4a;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
}

.close:hover,
.close:focus {
    color: #1A7DC2;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(-45deg);
    content: '';
    transition: all 0.25s ease-out;
}

 .close:before,
 .close:after {
    transform: rotate(-45deg);
    content: '';
    transition: all 0.25s ease-out;
    }


/* ----------------------------------------------
 * Generated by Animista on 2017-3-26 22:49:13
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0
    }
    40% {
      opacity: .6
      }
      100% {
        opacity: 1
        }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0
    }
    40% { opacity: .6
      }
      100% {
        opacity: 1
        }
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0
    }
  100% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      opacity: 1
      }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0
    }
    100% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      opacity: 1
      }
}

.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -moz-animation: flip-in-hor-bottom 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: flip-in-hor-bottom 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

          /******************************************************
                              MEDIA QUERIES
          ******************************************************/

@media screen and (min-width: 600px) {

  .eth-logo-lg {
    display: inline-block;
    /*width: 70%;
    height: auto;*/
  }

  .grid {
    display: grid;
    grid-template-columns: 5% 6fr 2fr 5%;
    grid-template-areas:
    ". navigation . ."
    ". header eth-logo-lg ."
    ". footer footer . ";
  }

  .navigation {
    grid-area: navigation;
    justify-self: start;
    color: #fff;
    padding-top: 5px;
  }

  .header {
    grid-area: header;
    justify-self: start;
    align-items: start;
  }

  h1 {
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 10px;
    color: white;
  }

  .eth-logo-lg {
    grid-area: eth-logo-lg;
    justify-self: end;
    text-align: center;
  }

  .slogan {
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 10px;
    padding-top: 15px;
  }

}

@media screen and (min-width: 900px) {
  h1 {
    font-weight: 500;
    font-size: 3em;
    letter-spacing: 10px;
    color: white;
  }

}

@media screen and (min-width: 1200px) {

  h1 {
    font-weight: 500;
    font-size: 4em;
    letter-spacing: 10px;
    color: white;
  }

}
